{
	"CFBundleDevelopmentRegion" = English;
	CFBundleExecutable = "${EXECUTABLE_NAME}";
	CFBundleName = "${PRODUCT_NAME}";
	CFBundleIconFile = "";
	CFBundleIdentifier = "com.MrGeckosMedia.${PRODUCT_NAME:rfc1034Identifier}";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundlePackageType = FMWK;
	CFBundleSignature = "????";
	"NSHumanReadableCopyright" = "Copyright (c) 2010 Mr. Gecko's Media (James Coleman). All rights reserved. http://mrgeckosmedia.com/";
	CFBundleVersion = "0.1";
	"CFBundleShortVersionString" = "0.1";
	NSPrincipalClass = "";
}