{
	"CFBundleDevelopmentRegion" = English;
	CFBundleExecutable = "${EXECUTABLE_NAME}";
	CFBundleIconFile = "";
	CFBundleIdentifier = "com.MrGeckosMedia.${PRODUCT_NAME:rfc1034Identifier}";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleName = "${PRODUCT_NAME}";
	CFBundlePackageType = FMWK;
	"CFBundleShortVersionString" = "0.2";
	CFBundleSignature = "????";
	CFBundleVersion = "0.2.1";
	"NSHumanReadableCopyright" = "Copyright (c) 2011 Mr. Gecko's Media (James Coleman). All rights reserved. http://mrgeckosmedia.com/";
	NSPrincipalClass = "";
}